@model IEnumerable<project.Models.orderdetail>

@{
    ViewData["Title"] = "order details";
}
@{
    Layout = "~/Views/Shared/adminLayout.cshtml";
}
<style>
    body {
        background-color: rgba(244, 233, 220, 0.411);
    }</style>
<h1 class="text-center">order details</h1>
<hr class="mb-5"/>
<div class="container">
<table class="table">
    <thead class="bg-dark text-white">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.totalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.buyDate)
            </th>
        </tr>
    </thead>
    <tbody class="bg-light">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.totalPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.buyDate)
                </td>
                
            </tr>
        }
    </tbody>
</table>
</div>