@model project.Models.allusers

@{
    ViewData["Title"] = "Details";
}
@{
    Layout = "~/Views/Shared/adminLayout.cshtml";
}

<style>
    body {
        background-color: rgba(244, 233, 220, 0.411);
    }</style>
<h1 class="text-center">User Details</h1>
<hr class="mb-5" />

<div class="container">
  
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.role)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.role)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.registDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.registDate)
        </dd>
    </dl>
</div>

